.box {
    padding: 10px 10px;
    background-color: (248, 242, 233);
}

.box h4 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px
}

#pageGest {
    margin-top: 50px;
    margin-bottom: 30px;
}

#pageGest button {
    height: 30px;
    width: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
