<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fsevenzo.org%2Fthe-values-of-news%2F&psig=AOvVaw20wxWWE8eJR4gd4kgeQ50m&ust=1702551614313000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCKjropehjIMDFQAAAAAdAAAAABAD" alt="logo" id="logo">
    <a class="navbar-brand">L'Italia on-line</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nabbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nn-link-active" aria-current="page" href="#"></a>
        <a class="nav-link" routerlink="">HOME</a>
        <a class="nav-link" routerlink="tech">Tecnologia</a>
        <a class="nav-link" routerlink="sport">Sport</a>
        <a class="nav-link" routerlink="scienza">Scienza</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>